*{
    margin: 0;
    padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
#bigBackground{
  min-width: 640px;
  min-height: 425px;
  width: 1280px;
  height: 864px;
  background: url("../img/bg.png") no-repeat 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  justify-content: flex-start;
  .colContainer{
    align-content: center;
    width: 100%;
    //border: 1px solid #000;
    text-align: center;
  }
  .collogin{
    margin-top: 42px;
    .iconLogin{
      float: right;
      margin-right: 56px;
      width: 37px;
      cursor: pointer;
    }
  }
  .collogo{
    margin-top: 182px;
    .logoContain{
      width: 275px;
      height: 154px;
      margin: 0 auto;
      background-color: #fcfcfa;
      -webkit-box-shadow: 7px 8px 9px 1px rgba(0,0,0,.18);
      -moz-box-shadow: 7px 8px 9px 1px rgba(0,0,0,.18);
      box-shadow: 7px 8px 9px 1px rgba(0,0,0,.18);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      .logoInner{
        border: 2px solid rgb(88,88,88);
        width: 241px;
        height: 127px;
        background-color: #fbfcfa;
        //position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .logo{
          //display: flex;
          width: 215px;
          align-self: center;
        }
      }
    }
  }
  .coltitle{
    margin-top: 17px;
    .describeText{
      font-family: FZCJHJW;
      font-size: 20.55px;
      color: #3f3121;
    }
  }
  .colsearch{
    margin-top: 33px;
    .search{
      display: inline-block;
      width: 391px;
      height: 41px;
      background-color: #fcfcfc;
      -webkit-border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
      -moz-border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
      border-radius: 20px 21px 21px 20px/20px 20px 21px 21px;
      -webkit-box-shadow: 3px 4px 10px 1px rgba(0,0,0,.11);
      -moz-box-shadow: 3px 4px 10px 1px rgba(0,0,0,.11);
      box-shadow: 3px 4px 10px 1px rgba(0,0,0,.11);
      outline: none;
      font-size: 26px;
      border: none;
      padding: 0 33px;
      color: #4d4f55;
      box-sizing: border-box;
    }
  }
  .colclasses{
    margin-top: 32px;
    .classflex{
      display: inline;
      flex-flow: row nowrap;
      margin: 0 auto;
      .class{
        width: 69px;
        height: 24px;
        font-family: "Microsoft YaHei";
        font-size: 17.17px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        border: solid 1px rgba(238,240,240,.76);
        color: #040404;
        outline: none;
        cursor: pointer;
      }
      .class.selected{
        color: #fff;
        background-color: #636565;
      }
    }
  }
}